/*
 grid content
├── grid content_part listDomains
│   ├── grid domains

├── grid content_part filter


├── grid content_part result


*/

*{
  margin: 0;
}
.content {
  margin: auto;
  width: 95%;
  gap: 15px;
  grid-template-columns: 40% auto;
  grid-template-rows: 310px 580px;
}

.grid {  display: grid;}


/* - * - * - * - * ФИЛЬТР * - * - * - * -  */
.filter {
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  gap: 10px;

}
/* - * - * - * - * СПИСОК ДОМЕНОВ * - * - * - * -  */
.listDomains {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  gap: 10px;

}
/* - * - * - * - * ВЫБРАННЫЕ ДОМЕНЫ (ССЫЛКИ) * - * - * - * -  */
.result {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  gap: 10px;

}

/* - * - * - * - * прочие настройки * - * - * - * -  */
#filter_form{
  overflow-y: auto;
}
/* ЦВЕТА БЛОКОВ */
.content {  background-color: #fad2b0;}
.content_part {  background-color: sandybrown;}
