<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>{% block title %} программа {% endblock %}</title>
    <script type=text/javascript src="{{ url_for('static', filename='js/common_funcs/like_in_python.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/common_funcs/searchTextInClmn.js') }}"></script>
  </head>

  <body>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <div class="menu_bar">
      <ul class='menu-main'>
        <li><a href="{{url_for('main')}}" class='{{main_style}}'>Главная</a></li>
        <li><a href="{{url_for('get_parser_page')}}" class='{{parser_style}}'>Парсер</a></li>
        <li><a href="{{url_for('parsing_result_view')}}" class='{{result_style}}'>Результаты парсинга</a></li>
        <li><a href="{{url_for('open_parser_setting')}}" class='{{domain_style}}'>Настройка доменов</a></li>
        <li><a href="{{url_for('open_uploader')}}" class='{{uploader_style}}'>Файлы</a></li>
        {#<!-- <li><a href="{{url_for('open_links_base')}}" class='{{db_style}}'>База ссылок</a></li> -->#}
      </ul>
    </div>

        {% block content %}{% endblock %}
  </body>

</html>
