{% extends "base.html" %}
{% block title %}Настройка доменов{% endblock %}
{% block content %}
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/past_link.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/write_domain_list.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/write_domain_setting.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/write_domain_links.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/parse_one_link.js') }}"></script>


<h1>Настройка доменов</h1>

<!-- - - - - - - - - - - - СПИСОК ДОМЕНОВ - - - - - - - - - - -  -->
<table id = 'domain_table'> </table>

<script> write_domains() </script>

<!-- - - - - - - - - - - - БЛОК НАСТРОЕК ДОМЕНА - - - - - - - - - - -  -->
<h3 id = 'domain_settings'></h3>

<div id = "block_for_settings"> </div>

<!-- - - - - - - - - - - - ВСТАВКА ССЫЛКИ - - - - - - - - - - -  -->
<br>
<!-- action="javascript:past_link(this)" -->
<form  method="post" >

  <label for="name">Вставьте ссылку:</label>
  <input id="link_input" type="text" name = 'link_input_form'>
  <input type="button" value="Отправить" onclick="past_link(this)">
</form>

<!-- - - - - - - - - - - - СПИСОК ВСТАВЛЕННЫХ ССЫЛОК - - - - - - - - - - -  -->
<h2>Список ссылок:</h2>
<ul id = 'pasted_links' >

</ul>



{% endblock %}
