<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="filter_bar">
      <h3>Фильтры</h3>

      <form id = 'filter_form'>
      </form>
      <button type="button" name="button" id = 'accept_btn'>Применить</button>
    </div>

    <br>

    <div class="chosen_link">
      <table id ='tbl_chosen_link' border="1" cellpadding="5">

      </table>
    </div>

    <div class="parser_parametres">
      <form id = 'param_form'>

      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="launch_filter.js"></script>
    <script>draw_filter_block(filter_setting)  </script>

  </body>
</html>
