{% extends "base.html" %}

{% block title %}Загрузка{% endblock %}

{% block content %}

<h2>Загрузка файлов</h2>
<p>Сюда можно загружать ТОЛЬКО РАБОЧУЮ ТАБЛИЦУ формта excel .xlsx </p>
<p>Названия столбцов, который можно распознать:</p>
<p>"ОКПД2", "Детализация", "Наименование ККН", "Источник ценовой информации", </p>
<p>"ИНН поставщика", "Наименование поставщика","160-Р 507 - ОК 79 - ОШИБКА",</p>
<p>"Ссылка", "Часть"</p>
<script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
<script type=text/javascript src="{{ url_for('static', filename='js/uploader/uploadFile.js') }}"></script>


<div class="">

  <form id="uploadFileForm" method="post" enctype="multipart/form-data">
    <fieldset>
        <label for="file">Выбрать файл</label>
        <input name="file" type="file">
    </fieldset>
    <fieldset>
        <button id="uploadFileBtn" type="button">Загрузить</button>

    </fieldset>
  </form>

  <div class="">
    <h2>История</h2>
    {% for id, file in files_info.items() %}
      <p>{{ id }}</p>
      <p>{{ file['file_name'] }}</p>
      <p>кол-во ккн:    {{ file['kkn_ammount'] }}</p>
      <p>кол-во ссылок: {{ file['link_ammount_unic'] }} / {{ file['link_ammount_kontr'] }} (всего / контракты)</p>
      <p>{{ file['file_obj'].name }}</p>
      {% for part in file['parts'] %}
      <p>Части: {{ part }}</p>
      {% endfor %}
    {% endfor %}

  </div>

</div>

<script type="text/javascript">
  $(function() {
    $('#uploadFileBtn').click(function() {
        var form_data = new FormData($('#uploadFileForm')[0]);

        console.log(form_data)
        $.ajax({
            type: 'POST',
            url: '/upload_file',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
            },
        });
    });
  })

</script>
{% endblock %}
